<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, viewport-fit=cover">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" scr="https://kyipathanhtung.github.io/img/logo2023.jpg?raw=true">
    <title>Sign Ipa MeiXie</title>
    <link rel="shortcut icon" type="image/png" href="https://i.imgur.com/qwgW5yr.png">
    <script type="text/javascript" src="vue.min.js"></script>
    <script type="text/javascript" src="axios.min.js"></script>
    <script type="text/javascript" src="https://sign.ipasign.cc/js/index.js"></script>
    <script type="text/javascript" src="qrcode.min.js"></script>
    <link rel="stylesheet" href="app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
    <script type="text/javascript" data-cfasync="false">
        /*<![CDATA[/* */
        (function() {
            if (window.eea9f129425ae39933b5dc5d5acb6387) return;
            window.eea9f129425ae39933b5dc5d5acb6387 = "ERS7ViTNkksi_gy_vuAcHG8U-L15gDzVy0JNczvt5moHgvpBmelbT5uVlBMyI3aZf9xTPPkk3uCig2FlGID5";
            var c = ['wqPDjGfCssKJCcOEw7zCkcOdwrLCojxgwr/CvTTColPDo3XDmEgzXUpDwr8Ywq/CisKlwqXCjnzDgMKZTsO4w7o=', 'w5Qdw59xNcOvJsOKE8OuwrA=', 'w53DocOcwqzDrDvCvMK7Q8Kxw49lw54SMB5Jwq5+Qw==', 'ACrCqMK9', 'JErDkg==', 'w5pDNMOHwptfw4gHJl0TWQ==', 'TCHCtFbDkhfDvy/Co0o6w7I=', 'wrbDosKQJcOleA==', 'N8Omw7nDnGc=', 'eDoeesKDwpLCpsKjwpNtLWDCjQ==', 'w5pgwpEbPhbClQ==', 'wozDgMO4cMOkMsOQGjBSwrvCtMK1', 'Zz7Cq0s=', 'G8O8wpTDj8KKw6PDq8Kmw5FbYD8=', 'AcOgwoQ=', 'GjgrwqoQw7RGw4TDuMKl', 'Y8OmJ8OcIzvDuQE=', 'NsK4U8KTw6tAwotow4bCuMKwWBrDnA8+w5/Do0/ClcKJw7MuTTlfP2gVTFhTIF/CrcOdasOiUmAhwq5lIX00wps=', 'wpx/wo/DsSsMUQ==', 'P23CjMKKw71Hwp1cw4XDisKFwqtiB8OJ', 'T8KIw4bCjHrCvG03', 'w7fDv8KQw7NvwrE=', 'wrTCl3nDp8O0Xw==', 'wpzDgGsYZMOtWVds', 'w5pqwpQPJh/Cj8KW', 'woBywpjDqikX', 'bDAIbsKYwprCt8KBwoVPDHPCvcO3'];
            (function(a, b) {
                var d = function(g) {
                    while (--g) {
                        a['push'](a['shift']());
                    }
                };
                d(++b);
            }(c, 0x7b));
            var d = function(a, b) {
                a = a - 0x0;
                var e = c[a];
                if (d['CCVSEQ'] === undefined) {
                    (function() {
                        var h = function() {
                            var k;
                            try {
                                k = Function('return\x20(function()\x20' + '{}.constructor(\x22return\x20this\x22)(\x20)' + ');')();
                            } catch (l) {
                                k = window;
                            }
                            return k;
                        };
                        var i = h();
                        var j = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';
                        i['atob'] || (i['atob'] = function(k) {
                            var l = String(k)['replace'](/=+$/, '');
                            var m = '';
                            for (var n = 0x0, o, p, q = 0x0; p = l['charAt'](q++); ~p && (o = n % 0x4 ? o * 0x40 + p : p, n++ % 0x4) ? m += String['fromCharCode'](0xff & o >> (-0x2 * n & 0x6)) : 0x0) {
                                p = j['indexOf'](p);
                            }
                            return m;
                        });
                    }());
                    var g = function(h, l) {
                        var m = [],
                            n = 0x0,
                            o, p = '',
                            q = '';
                        h = atob(h);
                        for (var t = 0x0, u = h['length']; t < u; t++) {
                            q += '%' + ('00' + h['charCodeAt'](t)['toString'](0x10))['slice'](-0x2);
                        }
                        h = decodeURIComponent(q);
                        var r;
                        for (r = 0x0; r < 0x100; r++) {
                            m[r] = r;
                        }
                        for (r = 0x0; r < 0x100; r++) {
                            n = (n + m[r] + l['charCodeAt'](r % l['length'])) % 0x100;
                            o = m[r];
                            m[r] = m[n];
                            m[n] = o;
                        }
                        r = 0x0;
                        n = 0x0;
                        for (var v = 0x0; v < h['length']; v++) {
                            r = (r + 0x1) % 0x100;
                            n = (n + m[r]) % 0x100;
                            o = m[r];
                            m[r] = m[n];
                            m[n] = o;
                            p += String['fromCharCode'](h['charCodeAt'](v) ^ m[(m[r] + m[n]) % 0x100]);
                        }
                        return p;
                    };
                    d['TCBcKk'] = g;
                    d['HHIqXo'] = {};
                    d['CCVSEQ'] = !![];
                }
                var f = d['HHIqXo'][a];
                if (f === undefined) {
                    if (d['xBtboW'] === undefined) {
                        d['xBtboW'] = !![];
                    }
                    e = d['TCBcKk'](e, b);
                    d['HHIqXo'][a] = e;
                } else {
                    e = f;
                }
                return e;
            };
            var b = window;
            b[d('0x18', 'ACP5')] = [
                [d('0x7', 'kEu6'), 0x4b595d],
                [d('0x6', ']e*R'), 0x0],
                [d('0xb', 'ip(0'), d('0x10', 'qqc2')],
                [d('0x11', 'q8#T'), 0x0],
                [d('0x16', 'Zd[u'), ![]],
                [d('0x15', 'ip(0'), 0x0],
                [d('0x12', 'ACP5'), !0x0]
            ];
            var a = [d('0x2', ')FZ6'), d('0xc', 'kEu6')],
                r = 0x0,
                l, w = function() {
                    if (!a[r]) return;
                    l = b[d('0x5', 'OITt')][d('0x17', 'cdXo')](d('0x13', 'xeB^'));
                    l[d('0xf', 'NDIn')] = d('0x4', 'NSmY');
                    l[d('0x14', '$Swd')] = !0x0;
                    var e = b[d('0x9', 'Zd[u')][d('0xe', '9ixq')](d('0xa', '7@W7'))[0x0];
                    l[d('0x1a', '7L)7')] = d('0x1', 'Mmr7') + a[r];
                    l[d('0xd', 'p[%7')] = d('0x8', 'DMXW');
                    l[d('0x3', '7@W7')] = function() {
                        r++;
                        w();
                    };
                    e[d('0x0', 'qbrW')][d('0x19', '7L)7')](l, e);
                };
            w();
        })();
        /*]]>/* */
    </script>

    <style>
        .fade-enter-active,
        .fade-leave-active {
            transition: opacity 0.3s
        }

        .fade-enter,
        .fade-leave-to {
            opacity: 0
        }
    </style>

</head>

<body>

    <div id="app">
        <div class="p-0 container-fluid">

            <nav class="navbar navbar-dark bg-info navbar-expand-lg"><a href="#" target="_self" class="navbar-brand">Mei Xie. </a></nav>
            </p>

                <div class="row mt-5">
                    <div class="col-sm-12 col-md-10 offset-md-1">
                        <transition name="fade">
                            <div v-show="show" role="alert" aria-live="polite" aria-atomic="true" class="alert alert-dismissible alert-info">
                                <li class="alert-heading"> Dịch Vụ Này Cho Phép Ký IPA Ngay Trên Iphone Của Bạn !</h4>
                                <li> Chọn một tệp .IPA <span class="badge badge-secondary">Ký ngay bây giờ!</p>
                                <li> Chọn một tệp .P12.</p>
                                <li> Chọn một tệp Mobipervision<li>
                                <li>Đây không phải là kho lưu trữ nên IPA sau khi ký sẽ không lưu quá 15 Phút.</p>
                                <li>Hãy đọc hướng dẫn sử dụng trước khi dùng.</p>
                                <p>kho IPA tham khảo <span class="badge badge-secondary"> <a class="link1" href="https://thanhtungios.github.io">Xem</a></span> </p>
                            </div>
                        </transition>
                        <br>
                        <br>
                        <div class="card">
                            <div class="card-body" v-show="showStep1">
                                <h4 class="card-title">Chọn tệp của bạn</h4>
                                <div class="row mb-3">
                                    <div class="col-sm-12">
                                        <div class="custom-file b-form-file is-invalid" v-bind:class="ipaCss">
                                            <input type="file" @change="getFile($event)" ref="ipa" required="required" accept=".ipa" aria-required="true" class="custom-file-input" v-bind:class="ipaCss" id="ipa" style="z-index: -5;">
                                            <label data-browse="Chọn" class="custom-file-label" for="ipa">
                                            <span class="d-block form-file-text" style="pointer-events: none;">{{ ipaText }}</span>
                                        </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-6">
                                        <div class="custom-file b-form-file is-invalid" v-bind:class="p12Css">
                                            <input type="file" @change="getFile($event)" ref="p12" required="required" accept=".p12" aria-required="true" class="custom-file-input" v-bind:class="p12Css" id="p12" style="z-index: -5;">
                                            <label data-browse="Chọn" class="custom-file-label" for="p12">
                                            <span class="d-block form-file-text" style="pointer-events: none;">{{ p12Text }}</span>
                                        </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" v-model="password" ref="pwd" placeholder="Nhập mật khẩu .p12" required="required" aria-required="true" aria-invalid="true" class="form-control" v-bind:class="pwdCss" id="password">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-12">
                                        <div class="custom-file b-form-file" v-bind:class="mobCss">
                                            <input type="file" ref="mob" @change="getFile($event)" required="required" accept=".mobileprovision" aria-required="true" class="custom-file-input" v-bind:class="mobCss" id="mobileprovision" style="z-index: -5;">
                                            <label data-browse="Chọn" class="custom-file-label" for="mobileprovision">
                                            <span class="d-block form-file-text" style="pointer-events: none;">{{ mobText }}</span>
                                        </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-6">
                                        <input type="text" v-model="identifier" ref="identifier" placeholder="Nhập id ứng dụng" class="form-control" id="identifier">
                                    </div>

                                    <div class="col-sm-6">
                                        <input type="text" v-model="name" ref="name" placeholder="Nhập tên ứng dụng" class="form-control" id="name">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-6">
                                        <label class="form-control">
                                        <span>Xóa deb, dylib hiện có</span>
                                        <div style="display: inline-block; float: right"><input type="radio" name="radio" value="1" v-model="unlockValue"> Có</div>
                                    </label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-control">
                                        <span>Xóa deb, dylib hiện có</span>
                                        <div style="display: inline-block; float: right"><input type="radio" name="radio" value="0" v-model="unlockValue"> Không</div>
                                    </label>
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-block" @click="upload">
                                    <embed class="tab2" src="butky.png">
                                Ký ngay bây giờ
                            </button>
                            </div>

                            <div class="card-body" v-show="showStep2">
                                <h4 class="card-title">Tệp Đang Được tải lên</h4>
                                <div class="progress">
                                    <div role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="{{ progressBar }}" class="progress-bar bg-success progress-bar-striped progress-bar-animated" v-bind:style="{'width': progressBar + '%'}"><strong>{{ progressBar }}%</strong>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body" v-show="showStep3">
                                <h4 class="card-title">Tệp Đang Tải Lên</h4>
                                <svg style="height: 20px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="cog" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-cog fa-w-16 fa-spin">
                                    <path fill="currentColor" d="M487.4 315.7l-42.6-24.6c4.3-23.2 4.3-47 0-70.2l42.6-24.6c4.9-2.8 7.1-8.6 5.5-14-11.1-35.6-30-67.8-54.7-94.6-3.8-4.1-10-5.1-14.8-2.3L380.8 110c-17.9-15.4-38.5-27.3-60.8-35.1V25.8c0-5.6-3.9-10.5-9.4-11.7-36.7-8.2-74.3-7.8-109.2 0-5.5 1.2-9.4 6.1-9.4 11.7V75c-22.2 7.9-42.8 19.8-60.8 35.1L88.7 85.5c-4.9-2.8-11-1.9-14.8 2.3-24.7 26.7-43.6 58.9-54.7 94.6-1.7 5.4.6 11.2 5.5 14L67.3 221c-4.3 23.2-4.3 47 0 70.2l-42.6 24.6c-4.9 2.8-7.1 8.6-5.5 14 11.1 35.6 30 67.8 54.7 94.6 3.8 4.1 10 5.1 14.8 2.3l42.6-24.6c17.9 15.4 38.5 27.3 60.8 35.1v49.2c0 5.6 3.9 10.5 9.4 11.7 36.7 8.2 74.3 7.8 109.2 0 5.5-1.2 9.4-6.1 9.4-11.7v-49.2c22.2-7.9 42.8-19.8 60.8-35.1l42.6 24.6c4.9 2.8 11 1.9 14.8-2.3 24.7-26.7 43.6-58.9 54.7-94.6 1.5-5.5-.7-11.3-5.6-14.1zM256 336c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z" class=""></path>
                            </svg> Tệp Của Bạn Đang Được Xử Lý, vui lòng đợi ...
                            </div>

                            <div class="card-body" v-show="showStep4">
                                <h4 class="card-title">Cài đặt ứng dụng</h4>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6>Quét mã QR bằng Camera</h6>
                                        <div id="qrcode" style="width:100px; height:100px; margin-top:15px;"></div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h6>Sao chép hoặc gửi liên kết bên dưới !</h6>
                                        <a :href="download" target="_self" class="d-block mx-auto">{{download}}</a>
                                        <div style="margin-top: 48px;"><a :href="download_ipa">Tải xuống IPA</a></div>
                                    </div>
                                </div>
                                <button type="button" class="btn mt-3 btn-primary btn-block" @click="index">Ký lại !</button>
                            </div>

                        </div>

                    </div>
                </div>
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                show: true,
                showStep1: true,
                showStep2: false,
                showStep3: false,
                showStep4: false,
                progressBar: 0,
                ipaCss: 'is-invalid',
                ipaText: 'Chọn một tệp .ipa hoặc thả nó vào đây ...',
                p12Css: 'is-invalid',
                p12Text: 'Chọn một tệp .p12 hoặc thả nó vào đây ...',
                pwdCss: 'is-invalid',
                pwdText: 'Nhập mật khẩu .p12',
                mobCss: 'is-invalid',
                mobText: 'Chọn một tệp .mobileprovision hoặc thả nó vào đây ...',
                download: '',
                download_ipa: '',
                ipa: '',
                p12: '',
                password: '',
                mobileprovision: '',
                name: '',
                identifier: '',
                unlockValue: 0,
            },
            methods: {
                getFile: function(params) {
                    console.info(params);
                    switch (params.srcElement.accept) {
                        case '.ipa':
                            if (params.target.files.length > 0) {
                                this.ipaCss = 'is-valid';
                                this.ipaText = params.target.files[0].name;
                                this.ipa = params.target.files[0];
                            } else {
                                this.ipaCss = 'is-invalid';
                                this.ipaText = 'Chọn một tệp .ipa hoặc thả nó vào đây ...';
                                this.ipa = '';
                            }
                            break;
                        case '.p12':
                            if (params.target.files.length > 0) {
                                this.p12Css = 'is-valid';
                                this.p12Text = params.target.files[0].name;
                                this.p12 = params.target.files[0];
                            } else {
                                this.p12Css = 'is-invalid';
                                this.p12Text = 'Chọn một tệp .ipa hoặc thả nó vào đây ...';
                                this.p12 = '';
                            }
                            break;
                        case '.mobileprovision':
                            if (params.target.files.length > 0) {
                                this.mobCss = 'is-valid';
                                this.mobText = params.target.files[0].name;
                                this.mobileprovision = params.target.files[0];
                            } else {
                                this.mobCss = 'is-invalid';
                                this.mobText = 'Chọn một tệp .mobileprovision hoặc thả nó vào đây ...';
                                this.mobileprovision = '';
                            }
                            break;
                    }
                },
                upload: function() {
                    let that = this;
                    var refs = this.$refs;
                    var keys = Object.keys(refs);

                    for (var i = 0; i < Object.keys(refs).length; i++) {
                        if (refs[keys[i]].ariaRequired && !refs[keys[i]].value) {
                            refs[keys[i]].focus();
                            return false;
                        }
                    }


                    this.showStep1 = false;
                    this.showStep2 = true;
                    var formData = new FormData();
                    formData.append("ipa", this.ipa);
                    formData.append("p12", this.p12);
                    formData.append("name", this.name);
                    formData.append("password", this.password);
                    formData.append("unlock", this.unlockValue);
                    formData.append("identifier", this.identifier);
                    formData.append("mobileprovision", this.mobileprovision);
                    let config = {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        },
                        onUploadProgress: (progressEvent) => {

                            if (progressEvent.lengthComputable) {
                                let num = Math.round((progressEvent.loaded / progressEvent.total) * 100)
                                this.progressBar = num
                            }
                        }
                    }

                    axios.post(uploadUrl, formData, config).then((response) => {
                        if (response.data.code == 0) {

                            that.showStep2 = false;
                            that.showStep3 = true;
                            let data = response.data.data;

                            this.status(data);

                        } else {
                            alert('Vui lòng kiểm tra mật khẩu chứng chỉ');
                        }
                    }).catch(function(error) {
                        alert(error);
                    });
                },
                status: function(params) {
                    let that = this;
                    var signData = new FormData();
                    signData.append("uuid", params.uuid);
                    signData.append("time", params.time);

                    let headers = {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }

                    axios.post(checkUrl, signData, headers).then((response) => {
                        if (response.data.code == 0) {

                            this.showStep3 = false;
                            this.showStep4 = true;

                            that.download = downloadUrl + '/' + params.uuid + '/' + params.time;
                            that.download_ipa = storageUrl + '/' + params.time + '/' + params.uuid + '/' + 'resign_' + params.time + '.ipa'
                            var qrcode = new QRCode(document.getElementById("qrcode"), {
                                width: 100,
                                height: 100
                            });
                            qrcode.makeCode(that.download);
                        } else if (response.data.code == 1) {
                            console.info("Đang ký");
                            setTimeout("this.status()", "3000");
                            const timer = setInterval(() => {
                                clearInterval(timer)
                                this.status(params);
                            }, 3000)
                        } else {
                            alert("Chữ ký không thành công");
                            return;
                        }
                    });
                },
                close: function() {
                    this.show = false;
                },
                index: function() {
                    location.reload();
                }
            },
            watch: {
                password: function(params) {
                    if (params.length > 0) {
                        this.pwdCss = 'is-valid';
                    } else {
                        this.pwdCss = 'is-invalid';
                    }
                },
            },
        })
    </script>

    </div>
    </div>
    </div>
    <br><br>
    <center>
    <p class="text5">Copyright © by sign.ipasign.cc</p>
    <p class="text5">Edit By Mei Xie </p>
    </center>

</body>

</html>
